.container-sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-nav {
  display: flex;
  flex-direction: column;
}

.sidenav-nav a {
  color: black;
  padding: 1em 0 1em 0;
  text-decoration: none;
}

#circle-avatar {
  background: white;
  border-radius: 50%;
  margin: 0.5em 0.5em;
  width: 10em;
  height: 10em;
}

.container-nav-item {
  background-color: white;
  /* border-radius: 0.5em; */
  /* padding: 0.5em 0.5em; */
  /* margin: 1em; */
}
