.container-pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 0.2rem solid #ddd;
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.pokemon-card:hover {
  transform: scale(1.06);
  /* backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.6s; */
  box-shadow: 0 0.8em 0.8em rgba(0, 0, 0, 0.3);
}
.pokemon-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.image-placeholder {
  min-width: 10vw;
  min-height: 10vw;
  max-width: 100%;
  max-height: 100%;
  width: 15vw;
  height: 15vw;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #999;
}

.image-placeholder p {
  color: black;
}

.pokemon-button-detail {
  background-color: red;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.pokemon-button-detail:hover {
  background-color: darkred;
}
