.pokemon-card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.pokemon-title {
  text-transform: capitalize;
  font-size: 3rem;
}

.pokemon-subtitle {
  text-transform: capitalize;
  font-size: 2rem;
}

.pokemon-moves-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

.move-item {
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pokemon-types-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

.type-item {
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
